@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        <partial name="_DepartmentPartial"/>
    </div>
    <div class="col-6">
        <partial name="_EmployeePartial"/>
    </div>
    
</div>
